<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    
    {{#if cart.products.length}}
        <div id="cart-products">
            {{#each cart.products}}
                <div class="product">
                    <h2>{{this.product.title}}</h2>
                    <p>Precio: ${{this.product.price}}</p>
                    <p>Cantidad: {{this.quantity}}</p>
                    <form action="/api/carts/{{cart._id}}/product/{{this.product._id}}" method="POST">
                        <button type="submit">Eliminar del carrito</button>
                    </form>
                </div>
                <hr>
            {{/each}}
        </div>
    {{else}}
        <p>El carrito está vacío</p>
    {{/if}}

    <a href="/products">Seguir comprando</a>
</body>
</html>