<h1>Bienvenido a La Casa del Café</h1>

<h2>Lista de Productos</h2>
<ul>
    {{#each products}}
        <li>
            <h3>{{this.title}}</h3>
            <p>Precio: ${{this.price}}</p>
            <a href="/products/{{this._id}}">Ver detalles</a>
            <form action="/carts/{{cartId}}/products/{{this._id}}" method="POST">
                <button type="submit">Agregar al carrito</button>
            </form>
        </li>
    {{/each}}
</ul>

<a href="/realtimeproducts">Ver Productos en Tiempo Real</a>
